@use 'common';

.shopList {
    padding: 10rem 0;

    .inner {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        figure {
            flex: 1 0 15%;
        }

        .box {
            margin: 0 0 2rem 0;
        }

        .name {
            font-size: 19px;
            font-weight: 600;
            min-height: 4rem;
            margin: 0 0 2rem 0;
        }

        .des {
            font-size: 14px;
            font-weight: 400;
            margin: 0 0 1rem 0;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .pri {
            font-size: 15px;
            font-weight: 500;
            color: tomato;
        }
    }
}

.shopItm {
    padding: 10rem 0;

    .right {
        padding: 5rem 0 0 0;
    }

    .box {
        margin: 0 0 2rem 0;
    }

    .name {
        font-size: 2rem;
        font-weight: 600;
        margin: 0 0 1rem 0;
        min-height: 3rem;
    }

    .des {
        font-size: 14px;
        font-weight: 400;
        margin: 0 0 1rem 0;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pri {
        font-size: 1.5rem;
        font-weight: 500;
        color: tomato;
    }
}